<!DOCTYPE html>
<html>
    <head>
        <title>Gene Ontology</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="static/css/apps.css" />

        <script type="text/javascript" src="static/js/jquery.js"></script>

        <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap-theme.min.css" />

        <link rel="stylesheet/less" href="static/css/table.less" />

        <script type="text/javascript" src="static/js/less/less.setting.js"></script>
        <script type="text/javascript" src="static/js/less/less.min.js"></script>

        <script type="text/javascript" src="static/css/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid docs-container">
        {% block content %} {% endblock %}
        </div>
    </body>
</html>
